<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>

      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ipr</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>idea.icns</string>
        <key>CFBundleTypeName</key>
        <string>IntelliJ IDEA Project File</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
      </dict>

      <dict>
          <key>CFBundleTypeExtensions</key>
          <array>
              <string>*</string>
          </array>
          <key>CFBundleTypeName</key>
          <string>All documents</string>
          <key>CFBundleTypeOSTypes</key>
          <array>
              <string>****</string>
          </array>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>LSTypeIsPackage</key>
          <false/>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>idea</string>
    <key>CFBundleIconFile</key>
    <string>idea.icns</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>IntelliJ IDEA</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>com.jetbrains.intellij.ce</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleGetInfoString</key>
    <string>IntelliJ IDEA 10.5, build IU-107.105. Copyright JetBrains s.r.o., (c) 2000-2011</string>
    <key>CFBundleShortVersionString</key>
    <string>10.5</string>
    <key>CFBundleVersion</key>
    <string>IU-107.105</string>

    <key>LSArchitecturePriority</key>
    <array>
      <string>x86_64</string>
      <string>i386</string>
    </array>
    <key>LSRequiresNativeExecution</key>
    <string>YES</string>

    <key>Java</key>
    <dict>
      <key>ClassPath</key>
      <string>$APP_PACKAGE/lib/bootstrap.jar:$APP_PACKAGE/lib/extensions.jar:$APP_PACKAGE/lib/util.jar:$APP_PACKAGE/lib/jdom.jar:$APP_PACKAGE/lib/log4j.jar</string>

      <key>JVMVersion</key>
      <string>1.6*</string>

      <key>MainClass</key>
      <string>com.intellij.idea.Main</string>
      <key>Properties</key>
      <dict>
        <key>CVS_PASSFILE</key>
        <string>~/.cvspass</string>
        <key>com.apple.mrj.application.live-resize</key>
        <string>false</string>
        <key>idea.config.path</key>
        <string>~/Library/Preferences/IntelliJIdea10/</string>
        <key>idea.system.path</key>
        <string>~/Library/Caches/IntelliJIdea10/</string>
        <key>idea.plugins.path</key>
        <string>~/Library/Application Support/IntelliJIdea10/</string>
        <key>idea.log.path</key>
        <string>~/Library/Logs/IntelliJIdea10/</string>
        <key>java.endorsed.dirs</key>
        <string></string>
        <key>idea.smooth.progress</key>
        <string>false</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
        <key>apple.awt.graphics.UseQuartz</key>
        <string>true</string>
        <key>apple.awt.fullscreencapturealldisplays</key>
        <string>false</string>

      </dict>

      <key>VMOptions</key>
      <string>-ea -Xverify:none -Xbootclasspath/a:../lib/boot.jar -XX:+UseFastAccessorMethods -XX:+OptimizeStringConcat -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:+CMSIncrementalMode -XX:+CMSIncrementalPacing</string>

      <key>VMOptions.i386</key>
      <string>-Xms128m -Xmx512m -XX:MaxPermSize=250m -XX:ReservedCodeCacheSize=64m</string>

      <key>VMOptions.x86_64</key>
      <string>-Xms1g -Xmx1g -Xss2m -XX:MaxPermSize=384m -XX:ReservedCodeCacheSize=128m -XX:CompileThreshold=100 -XX:+UseCompressedOops</string>

      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE/bin</string>
    </dict>
  </dict>
</plist>
